h1 {
    background-color: aqua;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, "Geneva", Verdana, sans-serif;
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 5px black dotted;
}
p  {
    margin:auto;
    display: block;
    margin-left: 500px;

}

.food-list{
    background-color: aquamarine;
    margin: auto 510px;
}
.items{
    margin:auto 100px;
    border: 1px dotted black;
    text-align: center;
}


.ingre{
    display: block;
    margin-left: 550px;
    margin-top: -300px;
}
.steps{
     display: block;
     padding: 100px;
     margin-left: -100px;
}

h4 {
    background-color:blueviolet;
    padding-left: 10px;
    margin-right: 1500px;

}

body {
    background-color: antiquewhite;
}

img {
    border-radius: 5%;
    display: inline;
}